*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html, body {
  height: 100%;
  font-family: 'Montserrat';
  font-size: 16px; }

h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  font-size: 1em; }

ul, li, ol {
  list-style: none; }

input, textarea, button {
  border: none;
  background: transparent;
  outline: none;
  cursor: text; }
  input:hover, input:focus, input:active, textarea:hover, textarea:focus, textarea:active, button:hover, button:focus, button:active {
    outline: none; }

body {
  background: #f7f4ed;
  color: #252525;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto; }

.wrap {
  background: #fff;
  margin: 0 15px;
  padding: 0 15px; }
  .wrap__div {
    margin: 0 -15px; }

.grid {
  display: block;
  margin-left: -5px;
  margin-right: -5px; }
  .grid__item {
    display: block;
    float: left;
    padding: 0 5px; }
  .grid--twin .grid__item {
    width: 50%; }
  .grid:after {
    content: "";
    display: block;
    clear: both; }

hr {
  border: none;
  height: 1px;
  display: block;
  background: #f7f4ed;
  width: auto; }

.p {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: .1em; }
  .p--sm {
    font-size: 10px; }
  .p--lg {
    font-size: 15px; }
  .p--xs {
    font-size: 9px;
    letter-spacing: 0; }

.h {
  line-height: 1.533;
  font-size: 15px;
  letter-spacing: .1em; }
  .h--lg {
    font-size: 16px; }
  .h--sm {
    font-size: 12px; }
  .h--md {
    font-size: 14px; }
  .h--xs {
    font-size: 10px; }

.logo {
  display: inline-block;
  vertical-align: top; }
  .logo img {
    width: auto;
    display: block;
    height: 23px; }

.btn {
  font-size: 13px;
  letter-spacing: .1em;
  color: #fff;
  padding: 12px;
  text-align: center;
  display: block;
  background: #1f1295;
  border-radius: 2px;
  text-decoration: none; }

.field {
  position: relative;
  display: inline-block; }
  .field__box {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d4d4d5;
    color: #252525;
    height: 40px;
    padding: 0 14px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;
    letter-spacing: .1em;
    width: 100%;
    font-family: "Montserrat";
    font-size: 15px;
    transition: all .2s ease-out; }
    .field__box:focus, .field__box:hover {
      border-color: #57fab9;
      outline: none; }
    textarea.field__box {
      padding: 10px 14px;
      height: auto;
      resize: none; }
    select option {
      width: 100%; }
  .field::input-placeholder {
    color: #a9a9ab; }
  .field__selecticon {
    position: absolute;
    display: block;
    z-index: 0;
    pointer-events: none;
    right: 15px;
    bottom: 5px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-left: 13px;
    border-left: 1px solid #f4f4f4; }
    .field__selecticon:after {
      content: "\276E";
      display: block;
      text-align: center;
      width: 14px;
      color: #d4d4d5;
      -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg); }
  .field__reset {
    position: absolute;
    right: 12px;
    bottom: 8px;
    box-sizing: content-box;
    border: 4px solid #fff;
    transition: all .2s ease-out;
    visibility: hidden;
    opacity: 0;
    display: block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    color: #fff;
    font-size: 9px;
    text-align: center;
    border-radius: 50%;
    background: #d4d4d5; }
    .field__reset:after {
      content: "\2716"; }
  .field__box:focus + .field__reset {
    opacity: 1;
    visibility: visible; }
  .field__options-list.active {
    display: block; }
  .field__options-list {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 0;
    display: none;
    width: calc(100% - 30px);
    margin: 0 15px;
    background: #fff;
    border: 1px solid #d4d4d5;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    padding: 15px 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    text-align: center; }
    .field__options-list:before {
      content: "Select";
      color: #d4d4d5;
      display: block;
      padding: 5px 15px; }
  .field__option {
    cursor: pointer;
    display: block;
    padding: 10px 15px; }
    .field__option:active {
      background: rgba(0, 0, 0, 0.1); }

.input {
  position: relative;
  display: block; }
  .input__label {
    margin-bottom: 9px;
    position: relative;
    display: block; }
  .input--required .input__label:before {
    content: "Required";
    display: block;
    background: #ff601c;
    border-radius: 2px;
    padding: 4px 6px;
    font-family: inherit;
    font-size: 9px;
    color: #fff;
    float: right; }
  .input__field {
    display: block;
    margin-bottom: 14px; }
  .grid .input__field {
    margin-bottom: 12px; }
  .input__message {
    border-radius: 2px;
    background: #1f1295;
    color: #fff;
    padding: 15px;
    display: block;
    font-family: "Hirakakupro";
    margin-top: -5px; }
  .input__hint {
    background: #f7f4ed;
    color: #252525;
    padding: 15px 17px;
    display: block;
    -webkit-hyphens: manual;
    -ms-hyphens: manual;
    hyphens: manual;
    margin-top: -5px; }
  .input-wrap {
    padding: 20px 0; }

.ibox {
  display: block;
  position: relative;
  padding: 10px 14px 10px 38px; }
  .ibox input[type=checkbox],
  .ibox input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 2px;
    border: 1px solid #d4d4d5;
    transition: all .2s ease-out; }
    .ibox input[type=checkbox]:checked,
    .ibox input[type=radio]:checked {
      background: #1f1295;
      border-color: transparent; }
  .ibox__text {
    position: relative;
    transition: all .2s ease-out;
    z-index: 1; }
  input:checked ~ .ibox__text {
    color: #fff; }
  .ibox__fakebox {
    position: absolute;
    top: 50%;
    left: 14px;
    height: 15px;
    width: 15px;
    border: 1px solid #d4d4d5;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff; }
  input:checked ~ .ibox__fakebox {
    border-color: transparent; }
  input[type=checkbox] ~ .ibox__fakebox {
    border-radius: 2px; }
  input[type=checkbox]:checked ~ .ibox__fakebox {
    background-image: url('data:image/svg+xml;utf8,\a     <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"\a        viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">\a     <style type="text/css">\a       .st0{fill:#1F1295;}\a     </style>\a     <path class="st0" d="M5.3,16.9c-0.5-0.5-0.5-1.2,0-1.7l0.2-0.2c0.5-0.5,1.2-0.5,1.7,0l4.2,4.2L22.8,7.9c0.5-0.5,1.2-0.5,1.7,0\a       L24.7,8c0.5,0.5,0.5,1.2,0,1.7L12.2,22.1c-0.5,0.5-1.2,0.5-1.7,0L10.4,22c0,0-0.1-0.1-0.1-0.2L5.3,16.9z"/>\a     </svg>\a     '); }
  input[type=radio] ~ .ibox__fakebox {
    border-radius: 50%; }
  input[type=radio]:checked ~ .ibox__fakebox {
    background-image: url('data:image/svg+xml;utf8,\a     <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"\a        viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">\a     <style type="text/css">\a       .st0{display:none;fill:#1F1295;}\a       .st1{fill:#1F1295;}\a     </style>\a     <path class="st0" d="M-227,63.8c-11.7-11.7-11.7-30.8,0-42.4l4.2-4.2c11.7-11.7,30.8-11.7,42.4,0l104.9,104.9l285.9-285.9\a       c11.7-11.7,30.8-11.7,42.4,0l4.2,4.2c11.7,11.7,11.7,30.8,0,42.4L-54,193.9c-11.7,11.7-30.8,11.7-42.4,0l-4.2-4.2\a       c-1.2-1.2-2.3-2.5-3.2-3.9L-227,63.8z"/>\a     <circle class="st1" cx="15" cy="15" r="5"/>\a     </svg>\a     '); }

.navtoggle {
  height: 31px;
  width: 45px;
  background-image: url(../img/icons/icon-gnavi-drawer.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px;
  cursor: pointer; }

.header {
  background: #1f1295;
  padding: 9px 0;
  position: relative;
  text-align: center; }
  .header__logo {
    padding: 4px 0; }
  .header__toggle {
    position: absolute;
    border-right: 1px solid #fff; }

.breadcrumb {
  font-family: "Hirakakupro";
  font-weight: bold;
  font-size: 10px;
  letter-spacing: .05em;
  padding: 14px 0;
  background: #fff; }
  .breadcrumb__index {
    color: #59b5c2;
    text-decoration: none; }
    .breadcrumb__index:after {
      content: " > ";
      color: #a9a9ab; }
    .breadcrumb__index:last-child {
      pointer-events: none;
      color: #252525; }
      .breadcrumb__index:last-child:after {
        content: none; }

.notify {
  padding: 15px 15px 15px 45px;
  position: relative;
  background: #ff601c;
  color: #fff; }
  .notify__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-size: 90% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,\a     <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"\a        viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">\a     <style type="text/css">\a       .st0{fill: #ff601c;}\a     </style>\a     <path class="st0" d="M5.3,16.9c-0.5-0.5-0.5-1.2,0-1.7l0.2-0.2c0.5-0.5,1.2-0.5,1.7,0l4.2,4.2L22.8,7.9c0.5-0.5,1.2-0.5,1.7,0\a       L24.7,8c0.5,0.5,0.5,1.2,0,1.7L12.2,22.1c-0.5,0.5-1.2,0.5-1.7,0L10.4,22c0,0-0.1-0.1-0.1-0.2L5.3,16.9z"/>\a     </svg>\a     '); }

.footer__body {
  background: #252525;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 26px;
  color: #fff; }

.footer .wrap {
  background: transparent;
  padding: 0; }

.footer__logo {
  height: 40px;
  width: auto;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 38px; }

.footer__heading {
  color: #59b5c2;
  margin-bottom: 15px; }

.footer__desc {
  text-align: left; }

.footer__copyright {
  text-align: center;
  padding: 14px 0; }

.btn--totop {
  border-radius: 0;
  padding: 13px 12px; }
  .btn--totop img {
    height: 15px;
    width: auto; }
  .btn--totop:active {
    background: #57fab9; }

.page {
  padding-top: 49px; }
  .page__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999; }
  .page__main {
    margin-bottom: 30px;
    margin-top: 15px; }

.main__header {
  padding: 30px 0 28px;
  text-align: center; }

.main__title {
  margin-bottom: 10px; }

.main__callout {
  color: #59b5c2; }
