// Reset style
*,
:after,
:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  font-family: 'Montserrat';
  font-size: 16px;

}
h1, h2, h3, h4, h5, h6, p {
  font-weight: normal;
  font-size: 1em;
}
ul, li, ol {
  list-style: none;
}
input, textarea, button {
  border: none;
  background: transparent;
  outline: none;
  cursor: text;
  &:hover,
  &:focus,
  &:active {
    outline: none;
  }
}
// Colors
$prm: #1f1295;
$acc: #ff601c;
$bg: #fff;
$bg-outer: #f7f4ed;
$blur: #a9a9ab;
$sblur: #d4d4d5;
$xsblur: #f4f4f4;
$focus: #57fab9;
$text: #252525;
$text-hint: #59b5c2;
body {
  background: $bg-outer;
  color: $text;
  hyphens: auto;
}
// Layout
.wrap {
  background: #fff;
  margin: 0 15px;
  padding: 0 15px;
  &__div {
    margin: 0 -15px;
  }
}
.grid {
  display: block;
  margin-left: -5px;
  margin-right: -5px;
  &__item {
    display: block;
    float: left;
    padding: 0 5px;
  }
  &--twin &__item {
    width: 50%;
  }
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}
hr {
  border: none;
  height: 1px;
  display: block;
  background: $bg-outer;
  width: auto;
}
// Typo
.p {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: .1em;
  &--sm {
    font-size: 10px;
  }
  &--lg {
    font-size: 15px;
  }
  &--xs {
    font-size: 9px;
    letter-spacing: 0;
  }
}
.h {
  line-height: 1.533;
  font-size: 15px;
  letter-spacing: .1em;
  &--lg {
    font-size: 16px;
  }
  &--sm {
    font-size: 12px;
  }
  &--md {
    font-size: 14px;
  }
  &--xs {
    font-size: 10px;
  }
}
// Modules
.logo {
  display: inline-block;
  vertical-align: top;
  img {
    width: auto;
    display: block;
    height: 23px;
  }
}
.btn {
  font-size: 13px;
  letter-spacing: .1em;
  color: #fff;
  padding: 12px;
  text-align: center;
  display: block;
  background: $prm;
  border-radius: 2px;
  text-decoration: none;
}
.field {
  position: relative;
  display: inline-block;

  &__box {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;

    border: 1px solid $sblur;
    color: $text;
    height: 40px;
    padding: 0 14px;
    border-radius: 2px;
    display: inline-block;
    vertical-align: top;
    letter-spacing: .1em;
    width: 100%;
    font-family: "Montserrat";

    font-size: 15px;
    transition: all .2s ease-out;
    &:focus,
    &:hover {
      border-color: $focus;
      outline: none;
    }
    @at-root {
      textarea#{&} {
        padding: 10px 14px;
        height: auto;
        resize: none;
      }
      select {
        option {
          width: 100%;
        }
      }
    }
  }

  &::input-placeholder {
    color: $blur;
  }
  &__selecticon {
    position: absolute;
    display: block;
    z-index: 0;
    pointer-events: none;
    right: 15px;
    bottom: 5px;
    height: 30px;
    line-height: 30px;
    text-align: right;
    padding-left: 13px;
    border-left: 1px solid $xsblur;
    &:after {
      content: "\276E";
      display: block;
      text-align: center;
      width: 14px;
      color: $sblur;
      transform: rotate(-90deg);
    }
  }
  &__reset {
    position: absolute;
    right: 12px;
    bottom: 8px;
    box-sizing: content-box;
    border: 4px solid #fff;
    transition: all .2s ease-out;
    visibility: hidden;
    opacity: 0;
    display: block;
    height: 16px;
    width: 16px;
    line-height: 16px;
    color: #fff;
    font-size: 9px;
    text-align: center;
    border-radius: 50%;
    background: $sblur;
    &:after {
      content: "\2716";
    }
  }
  &__box:focus + &__reset {
    opacity: 1;
    visibility: visible;
  }
  &__options-list.active {
    display: block;
  }
  &__options-list {
    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 0;
    display: none;
    width: calc(100% - 30px);
    margin: 0 15px;
    background: #fff;
    border: 1px solid $sblur;
    border-radius: 2px;
    box-shadow: 0 0 20px rgba(0,0,0,.4);
    padding: 15px 0;
    transform: translate(0, -50%);
    text-align: center;
    &:before {
      content: "Select";
      color: $sblur;
      display: block;
      padding: 5px 15px; 
    }
  }
  &__option {
    cursor: pointer;
    display: block;
    padding: 10px 15px;
    &:active {
      background: rgba(0,0,0,.1);
    }
  }
}
.input {
  position: relative;
  display: block;
  &__label {
    margin-bottom: 9px;
    position: relative;
    display: block;
  }
  &--required &__label:before {
    content: "Required";
    display: block;
    background: $acc;
    border-radius: 2px;
    padding: 4px 6px;

    font-family: inherit;
    font-size: 9px;
    color: #fff;

    float: right;
  }
  &__field {
    display: block;
    margin-bottom: 14px;
  }
  
  .grid &__field {
    margin-bottom: 12px;
  }
  &__message {
    border-radius: 2px;
    background: $prm;
    color: #fff;
    padding: 15px ;
    display: block;
    font-family: "Hirakakupro";
    margin-top: -5px;
  }
  &__hint {
    background: $bg-outer;
    color: $text;
    padding: 15px 17px;
    display: block;
    hyphens: manual;
    margin-top: -5px;
  }
  // Outer
  &-wrap {
    padding: 20px 0;
  }
}
.ibox {
  display: block;
  input[type=checkbox],
  input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    display: block;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    border-radius: 2px;
    border: 1px solid $sblur;
    transition: all .2s ease-out;
    &:checked {
      background: $prm;
      border-color: transparent;
    }
  }
  position: relative;
  padding: 10px 14px 10px 38px;
  &__text {
    position: relative;
    transition: all .2s ease-out;
    z-index: 1;
  }
  input:checked ~ &__text {
    color: #fff;
  }
  &__fakebox {
    position: absolute;
    top: 50%;
    left: 14px;
    height: 15px;
    width: 15px;
    border: 1px solid $sblur;
    
    transform: translate(0, -50%);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    
  }
  input:checked ~ &__fakebox {
    border-color: transparent;
  }
  input[type=checkbox] ~ &__fakebox {
    border-radius: 2px;
  }
  input[type=checkbox]:checked ~ &__fakebox {
    background-image: url('data:image/svg+xml;utf8,
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
    <style type="text/css">
      .st0{fill:#1F1295;}
    </style>
    <path class="st0" d="M5.3,16.9c-0.5-0.5-0.5-1.2,0-1.7l0.2-0.2c0.5-0.5,1.2-0.5,1.7,0l4.2,4.2L22.8,7.9c0.5-0.5,1.2-0.5,1.7,0
      L24.7,8c0.5,0.5,0.5,1.2,0,1.7L12.2,22.1c-0.5,0.5-1.2,0.5-1.7,0L10.4,22c0,0-0.1-0.1-0.1-0.2L5.3,16.9z"/>
    </svg>
    ');
  }
  input[type=radio] ~ &__fakebox {
    border-radius: 50%;
  }
  input[type=radio]:checked ~ &__fakebox {
    background-image: url('data:image/svg+xml;utf8,
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
    <style type="text/css">
      .st0{display:none;fill:#1F1295;}
      .st1{fill:#1F1295;}
    </style>
    <path class="st0" d="M-227,63.8c-11.7-11.7-11.7-30.8,0-42.4l4.2-4.2c11.7-11.7,30.8-11.7,42.4,0l104.9,104.9l285.9-285.9
      c11.7-11.7,30.8-11.7,42.4,0l4.2,4.2c11.7,11.7,11.7,30.8,0,42.4L-54,193.9c-11.7,11.7-30.8,11.7-42.4,0l-4.2-4.2
      c-1.2-1.2-2.3-2.5-3.2-3.9L-227,63.8z"/>
    <circle class="st1" cx="15" cy="15" r="5"/>
    </svg>
    ');
  }

}

.navtoggle {
  height: 31px;
  width: 45px;
  background-image: url(../img/icons/icon-gnavi-drawer.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px;
  cursor: pointer;
}
 

.header {
  background: $prm;
  padding: 9px 0;
  position: relative;
  text-align: center;
  &__logo {
    padding: 4px 0;
  }
  &__toggle {
    position: absolute;
    border-right: 1px solid #fff;
  }
}

.breadcrumb {
  font-family: "Hirakakupro";
  font-weight: bold;
  font-size: 10px;
  letter-spacing: .05em;
  padding: 14px 0;
  background: #fff;
  &__index {
    color: $text-hint;
    text-decoration: none;
    &:after {
      content: " > ";
      color: $blur;
    }
    &:last-child {
      pointer-events: none;
      color: $text;
      &:after {
        content: none;
      }
    }
  }
}
.notify {
  padding:  15px 15px 15px 45px;
  position: relative;
  background: $acc;
  color: #fff;
  &__icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translate(0, -50%);
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-size: 90% auto;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: #fff;
    background-image: url('data:image/svg+xml;utf8,
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 30 30" style="enable-background:new 0 0 30 30;" xml:space="preserve">
    <style type="text/css">
      .st0{fill: #ff601c;}
    </style>
    <path class="st0" d="M5.3,16.9c-0.5-0.5-0.5-1.2,0-1.7l0.2-0.2c0.5-0.5,1.2-0.5,1.7,0l4.2,4.2L22.8,7.9c0.5-0.5,1.2-0.5,1.7,0
      L24.7,8c0.5,0.5,0.5,1.2,0,1.7L12.2,22.1c-0.5,0.5-1.2,0.5-1.7,0L10.4,22c0,0-0.1-0.1-0.1-0.2L5.3,16.9z"/>
    </svg>
    ');
  }
}
.footer {
  &__body {
    background: $text;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 26px;
    color: #fff;
  }
  .wrap {
    background: transparent;
    padding: 0;
  }
  &__logo {
    height: 40px;
    width: auto;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 38px;
  }
  &__heading {
    color: $text-hint;
    margin-bottom: 15px;
  }
  &__desc {
    text-align: left;
  }
  &__copyright {
    text-align: center;
    padding: 14px 0;
  }
}
.btn--totop {
  img {
    height: 15px;
    width: auto;
  }
  border-radius: 0;
  padding: 13px 12px;
  &:active {
    background: $focus;
  }
}
// Page
.page {
  padding-top: 49px;
  &__header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  &__main {
    margin-bottom: 30px;
    margin-top: 15px;
  }
  &__notify {

  }
}
.main {
  &__header {
    padding: 30px 0 28px;
    text-align: center;

  }
  &__title {
    margin-bottom: 10px;
  }
  &__callout {
    color: $text-hint;
  }
}